body{
    background-color: tan;
    background-image: url("https://media.giphy.com/media/jnppI1IpA3VvhwypyF/giphy.gif");
    text-align: center;
    
}
.input{
    margin:200px 450px;
    padding: 20px;
    background:linear-gradient(blue,pink);
    border-radius: 30px;
}
.in{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    border-radius:10px;
    padding:4px 8px;
    background: peru;

}
input{
    border-radius: 5px;
    padding: 3px;
    background: lightseagreen;
}